<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Overpass:wght@500&family=Poppins:wght@400;500;600;700;800&family=Rubik:wght@500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/js/script.js"></script>

  <title>OPERAÇÃO TAPA BURACOS</title>
  <style>
    .attribution {
      font-size: 11px;
      margin-top: 20px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  </style>
</head>

<body>
  {{#if messages.error}}
      <div class="error-message">{{messages.error}}</div>
    {{/if}}
  
   
    <section class="parte2">
    
      <form  method="post" onsubmit="return validateLOGIN(this)" action="/login" class="container-inputs">
        <input type="email" name="email" id="email-id" placeholder="Email" required>
        <span id="span6"></span>

        <input type="password" name="password" id="password-id" placeholder="password" required>
        <span id="span7"></span>

        <input type="submit" class="button" value="LOGAR">
        <div class="container-spans">
          <span class="span2">NÃO TEM CADASTRO?</span>
          <span class="span3"><a href="/paginadecadastro">CADASTRAR</a></span>
        </div>
         <div class="container-spans">
          <span class="span3"><a href="/esqueceusenha">ESQUECEU A SENHA</a></span>
        </div>
      </form>
    </section>
  
  <footer>
    <p class="attribution" id="attr">
      RODA PÉ</a>.
    </p>
  </footer>
</body>
