<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- displays site properly based on user's device -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Overpass:wght@500&family=Poppins:wght@400;500;600;700;800&family=Rubik:wght@500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <title>OPERAÇÃO TAPA BURACOS</title>
  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution {
      font-size: 11px;
      margin-top: 20px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  </style>
</head>

<body>
   
  
    
    <section class="parte2">
      <form  method="post" onsubmit="return validateForm(this)" action="/cadastro" class="container-inputs">
        {{#if message}}
      <div  class="error-message">{{message}}</div>
    {{/if}}
        <input type="text" name="nome" placeholder="Nome Completo" id="firstname-id">
        <span id="span4"> </span>
        <input type="text" name="telefone" placeholder="Telefone" id="lastname-id">
        <span id="span5"> </span>
        <input type="address" name="email" placeholder="Email" id="email-id">
        <span id="span6"> </span>
        <input type="password" name="senha" placeholder="Senha" id="password-id">
        <span id="span7"></span>
        <input type="submit"class="button" value="CADASTRAR">
        <div class="container-spans"><span class="span2">JA É CADASTRADO?</span><span class="span3"> <a
              href="/">LOGIN</a></span>
        </div>
      </form>
    </section>

  <footer>
    <p class="attribution" id="attr">
      RODA PÉ</a>.
    </p>
  </footer>
</body>

</html>