<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style2.css">
  <title>OPERAÇÃO TAPA BURACOS</title>
</head>

<body>
  <div class="container">
    <h2>INFORMAÇOES DO USUARIO:</h2>

    <p>{{usuario.nome}}</p>
    <h2>id_usuario: {{usuario.id_usuario}}</h2>
    <h2>email: {{usuario.email}}</h2>


    <div>
      <a href="https://docs.google.com/forms/d/17c-rcXRTEmVemJW48CfZruDKqLbESHJ3kgPuk89zBqk/edit">CADASTRAR INFORMAÇÃO</a>
    </div>

    <button onclick="window.location.replace('/')">sair</button>

  </div>

  <H2>(TALVES ATÉ UM MAPA GERAL COM MOSTRANDO TODOS OS PONTOS COM PROBLEMAS)</H2>

  <div class="attribution">
    Coded by <a href="https://github.com/Evandro1v/PROJETO.-PI"> Evandro1v</a>
  </div>

  <script src="/js/script.js"></script>
</body>

</html>